src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" 
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <batch:job name="migrateUsersBatch" max-failed-records="-1">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <dw:transform-message doc:name="Create GetWorkersRequestType">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	requestCriteria: {
		excludeInactiveWorkers: true,
		transactionLogCriteriaData: [{
			transactionDateRangeData: {
				updatedFrom: p('migration.startDate'),
				updatedThrough: (now - |PT3S|)
			}
		}]
	},
	responseGroup: {
		includeEmploymentInformation: true,
		includeManagementChainData: true,
		includeOrganizations: true,
		includePersonalInformation: true,
		includeReference: true,
		includeRoles: true,
		includeTransactionLogData: true,
		includeUserAccount: true
	}
} as :object {
	class : "com.workday.hr.GetWorkersRequestType"
}]]></dw:set-payload>
            </dw:transform-message>

            <wd-hr:get-workers config-ref="Workday_Human_Resource" doc:name="Get Workers from Workday" />
            <set-payload value="#[payload.responseData.worker]" doc:name="Extract a list of Workers"/>
            <custom-filter doc:name="Filter duplicate workers" class="org.mule.templates.WorkersDeduplicationFilter"/>
        </batch:input> 
        <batch:process-records>
            <batch:step name="createUsersInSalesforceStep">
                <dw:transform-message doc:name="setup Worker for upsert">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	// Each Username should be UNIQUE even between different sandboxes of a single instance 
 	// If you are trying this kick with one instance and multiple sandboxes, please make sure that the target username is not the same as the original as a duplicated username error will come up 
	Username: (payload.workerData.userAccountData.userName) when (payload.workerData.userAccountData != null and payload.workerData.userAccountData.userName != null) otherwise payload.workerData.personalData.contactData.emailAddressData[-1].emailAddress ++ ".target",
	LastName: payload.workerData.personalData.nameData.legalNameData.nameDetailData.lastName,
	FirstName: payload.workerData.personalData.nameData.legalNameData.nameDetailData.firstName,
	Email: payload.workerData.personalData.contactData.emailAddressData[-1].emailAddress when (payload.workerData.personalData.contactData.emailAddressData != null) otherwise null,
	Alias: payload.workerData.personalData.nameData.preferredNameData.nameDetailData.firstName[0..2] ++ payload.workerData.personalData.nameData.preferredNameData.nameDetailData.lastName[0..3],

	TimeZoneSidKey: p('sfdc.timeZoneSidKey'),
	LocaleSidKey: payload.workerData.userAccountData.localeReference.ID[-1].value when (payload.workerData.userAccountData != null and payload.workerData.userAccountData.localeReference != null) otherwise p('sfdc.localeSidKey'),
	EmailEncodingKey: p('sfdc.emailEncodingKey'),
	
	// We map the profile IDs from SalesForce instance A to B, each profileId from the left (source instance) will be map to the one on the right (target instance) 
 	// You should change these IDs to the ones corresponding to your SalesForce instances profile IDs 
	ProfileId: p('sfdc.profileId'),
	LanguageLocaleKey: payload.workerData.userAccountData.defaultDisplayLanguageReference.ID[-1].value when (payload.workerData.userAccountData != null and payload.workerData.userAccountData.defaultDisplayLanguageReference != null) otherwise p('sfdc.languageLocaleKey')
}]]></dw:set-payload>
                </dw:transform-message>
                <enricher source="#[payload == null ? null : payload.Id]" target="#[payload.Id]" doc:name="enrich payload with existing user Id">
                    <sfdc:query-single config-ref="Salesforce" query="SELECT Id FROM User WHERE Email = '#[payload.Email]'" doc:name="query user in Salesforce instance"/>
                </enricher>
 
                <logger message="User to create: #[payload]" level="INFO" doc:name="log User to create"/>
                <batch:commit size="200" doc:name="Batch Commit">
					<sfdc:upsert config-ref="Salesforce"  type="User" doc:name="upsert Users in Salesforce" externalIdFieldName="Id">
                        <sfdc:objects ref="#[payload]"/>
					</sfdc:upsert>

                </batch:commit>
            </batch:step>
        </batch:process-records>
       <batch:on-complete>
            <scatter-gather doc:name="All">
                <processor-chain>
            		<json:object-to-json-transformer doc:name="transform BatchJobInstance to JSON"/>
            		<logger message="Migration process has finished: #[payload]" level="INFO" doc:name="log 'Migration process has finished'"/>
                </processor-chain>
				<processor-chain>
                    <parse-template location="email/body.html" doc:name="Parse Template"/>
                    <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" connector-ref="gmailConnector" to="${mail.to}" from="${mail.from}" subject="${mail.subject}" responseTimeout="10000" doc:name="send mail"/>
				</processor-chain>
            </scatter-gather>
        </batch:on-complete>
    </batch:job>
    <flow name="mainFlow"  processingStrategy="synchronous" doc:description="This flow is the entry point to the Kick business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Kick exposes to trigger it.

">
        <batch:execute name="migrateUsersBatch" doc:name="trigger migrateUsersBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="catch Exception and call defaultChoiceExceptionStrategy"/>
    </flow>
    
    
</mule>
